.AddressCardContainer {
  background-color: #fff;
  width: 408px;
  height: 179px;
  border-radius: 10px;
  padding: 15px;
}
.adressHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addressLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}
.addressText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.addressText h3 {
  font-size: 18px;
  font-weight: 600;
}
.addressText span {
  color: #0062d5;
  font-size: 12px;
  font-weight: 400;
  text-decoration-line: underline;
  cursor: pointer;
}
.arrow {
  cursor: pointer;
}

hr {
  background-color: #e3e3e3;
  height: 1px;
  margin-top: 13px;
}

.addressBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}
.addressBottom div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.addressMiddle {
  display: flex;

  gap: 5px;
  margin-top: 20px;
}
.addressMiddleText {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}
