.container {
  width: 1238px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.actionBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.Catrgory {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 18px;
  /* justify-content: space-between; */
}
